h1= title

fieldset
  legend upload image
  form(method="post", action="/upload", enctype="multipart/form-data")
    .clearfix
      label File
      .input: input(type="file", name="file")
    .actions
    input.btn(type="submit")



